@page "/"
@using RuneGlossary.Resurrected.WASM.Components
@using RuneGlossary.Resurrected.WASM.Controls
@using RuneGlossary.Resurrected.WASM.Services

@inject IRuneService RuneService;
@inject ICharacterService CharacterService;
@inject IRuneWordService RuneWordService;
@inject ILoading Loading;

<div class="main">
	<div class="panel">
		<Character></Character>
	</div>
	<div class="right">
		<div class="panel">
			<Filters></Filters>
		</div>
		<div class="rune-words">
			<Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="RuneWordService.RuneWords.ToList()" Context="runeWord" OverscanCount="5">
				<RuneWord Model="runeWord"
						  Level="CharacterService.Current!.Level"
						  Runes="RuneService.Runes.Where(r => r.Selected).Select(r => r.Id).ToList()"
						  ItemTypes="CharacterService.Current.Filters.ItemTypes.Where(f => f.Selected).Select(f => f.Id).ToList()"></RuneWord>
			</Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
		</div>
	</div>
</div>

@code {
	protected override async Task OnInitializedAsync()
	{
		using (Loading.Show())
		{
			await RuneService.LoadAsync(default);
			await CharacterService.LoadAsync(default);
		}

		CharacterService.Changed += (_, __) => StateHasChanged();
		RuneWordService.Loaded += (_, __) => StateHasChanged();
		RuneService.Changed += (_, __) => StateHasChanged();
	}
}