@inject DialogService DialogService

@if(DialogService[Key])
{
	<div class="overlay" @onclick="Close" @onclick:stopPropagation="true">
		<div class="content">
			@ChildContent
		</div>
	</div>	
}

@code {
	[Parameter]
	public required string Key { get; set; }

	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	[Parameter]
	public Func<object?, Task> Accepted { get; set; } = (_) => Task.CompletedTask;

	protected override void OnInitialized()
	{
		DialogService.Accepted = Accepted;
		DialogService.Changed += (_, __) => StateHasChanged();
	}

	private void Close(MouseEventArgs args)
	{
		// DialogService.Close();
	}
}
